
# Ignore all __pycache__ directories
**/__pycache__/

# Optionally, you can ignore specific file patterns within __pycache__
**/__pycache__/*.pyc
**/__pycache__/*.pyo
**/__pycache__/*_cache

# .Env
.env
backend/images/publications